body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #222;
    color: white;
    padding: 1rem;
    text-align: center;
    border-bottom: #cccccc 1px solid;
}

header img{
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0;
}

ul li {
    padding-left: 60px;
    padding-right: 60px;

}

/*form {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    max-width: 300px;*/
/*    gap: 0.5rem;*/
/*    margin: 2rem auto;*/
/*}*/

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.video-player h2{
    text-align: center;
}

button {
    font-size: 20px;
    border: none;
    background-color: #222222;
    color: white;
    border-radius: 5px;


}